:root {
	--bg: #fff;
	--fg: #000;
	--outline: #b0b0b0;
	--outline-light: #e0e0e0;
	--secondary-bg: #e9e9e9;
	--light-bg: #f8f8f8;

	--red: hsl(0, 85%, 75%);
	--on-red: hsl(0, 85%, 15%);

	--orange: hsl(30, 85%, 75%);
	--on-orange: hsl(30, 85%, 15%);

	--yellow: hsl(60, 85%, 75%);
	--on-yellow: hsl(55, 85%, 15%);

	--light-red: hsl(0, 85%, 85%);
	--on-light-red: hsl(0, 85%, 15%);

	--light-orange: hsl(30, 85%, 85%);
	--on-light-orange: hsl(30, 85%, 15%);

	--light-yellow: hsl(55, 85%, 85%);
	--on-light-yellow: hsl(55, 85%, 15%);
}
